<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="#springUrl('/')css/sampleAdmin/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="#springUrl('/')css/sampleAdmin/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="#springUrl('/')css/sampleAdmin/style.css" />
    <script type="text/javascript" src="#springUrl('/')js/sampleAdmin/jquery.js"></script>
    <script type="text/javascript" src="#springUrl('/')js/sampleAdmin/jquery.sorted.js"></script>
    <script type="text/javascript" src="#springUrl('/')js/sampleAdmin/bootstrap.js"></script>
    <script type="text/javascript" src="#springUrl('/')js/sampleAdmin/ckform.js"></script>
    <script type="text/javascript" src="#springUrl('/')js/sampleAdmin/common.js"></script>
	
	<link rel="stylesheet" type="text/css" href="#springUrl('/')css/sampleAdmin/bootstrap-datetimepicker.min.css" />
    <script type="text/javascript" src="#springUrl('/')js/sampleAdmin/bootstrap-datetimepicker.js" charset="UTF-8"></script>
	<script type="text/javascript" src="#springUrl('/')js/sampleAdmin/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
	
	<!--  
    <link rel="stylesheet" type="text/css" href="http://img0.zz91.com/zz91/sample/admin/css/jquery.alert.css">
    <script type="text/javascript" src="http://img0.zz91.com/front/js/lib/jquery/jquery_lib/jquery-1.4.3.js"></script>
    <script type="text/javascript" src="http://img0.zz91.com/zz91/sample/admin/js/jquery.alert.js"></script>
	-->
	
	<style type="text/css">
        body {
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
		
    </style>
</head>
<body>
<form class="form-inline definewidth m20" action="accountseqList.htm" method="get" >
	公司名称<input type="text" name="companyName" id="companyName"class="abc input-default" placeholder="" value="$!{companyName}" style="width:110px" />&nbsp;&nbsp;
	订单号<input type="text" name="orderid" id="orderid"class="abc input-default" placeholder="" value="$!{orderid}"   style="width:110px"  />&nbsp;&nbsp;  
	成交日期<div class="controls input-append date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="datefrom" data-link-format="yyyy-mm-dd">
		<input style="width:80px" size="12" type="text" value="$!{datefrom}" />
		<span class="add-on"  style="height:14px"><i class="icon-th"></i></span>
	</div>
	<input type="hidden" name="datefrom" id="datefrom" value="$!{datefrom}" />
	至
	<div class="controls input-append date form_date2" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dateto" data-link-format="yyyy-mm-dd">
		<input   style="width:80px" size="12" type="text" value="$!{dateto}" />
		<span class="add-on" style="height:14px"><i class="icon-th"></i></span>
	</div>
	<input type="hidden" name="dateto" id="dateto" value="$!{dateto}" />

	<script type="text/javascript">
		$('.form_date').datetimepicker({ language:  'zh-CN', weekStart: 1,todayBtn:  1,autoclose: 1,todayHighlight: 1,startView: 2,minView: 2,forceParse: 0});
		$('.form_date2').datetimepicker({ language:  'zh-CN', weekStart: 1,todayBtn:  1,autoclose: 1,todayHighlight: 1,startView: 2,minView: 2,forceParse: 0});
	 </script>
	<select name="changeType">
		<option value="">交易类型</option>
		<option value="1001" #if($!{changeType}=="1001") selected  #end>充值</option>
		<option value="1002" #if($!{changeType}=="1002") selected  #end>实时提现</option>
		<option value="1003" #if($!{changeType}=="1003") selected  #end>支付</option>
		<option value="1004" #if($!{changeType}=="1004") selected  #end>退款</option>
		<option value="1006" #if($!{changeType}=="1006") selected  #end>人工调账</option>
	</select>
	 <button type="submit" class="btn btn-primary">查询</button>
</form>
<table class="table table-bordered table-hover definewidth m10" >
    <thead>
    <tr>
		<th>公司名称</th>
        <th>订单号</th>
        <th>来往标识</th>
        <th>交易类型</th>
        <th>变动前总金额</th>
        <th>变动后总金额</th>
        <th>交易金额</th>
##        <th>关联流水id</th>
        <th>创建时间</th>
        <th>备注</th>
    </tr>
    </thead>
	
	 #foreach($obj in $page.records)
	     <tr>
			<td><a href="#springUrl('/zz91/crm/company/detail.htm?companyId=')$obj.companyId" target="_blank">$!{obj.companyName}</a></td>
			<td>$!{obj.orderid}</td>
			<td>
				#if($!{obj.seqflag}=="0")来账
				#else  往账
				#end
			</td>
			<td>
				#if($!{obj.changeType}=="1001")          充值
                #elseif($!{obj.changeType}=="1002")  实时提现
                #elseif($!{obj.changeType}=="1003")  支付
                #elseif($!{obj.changeType}=="1004")  退款
                #elseif($!{obj.changeType}=="1006")  人工调账
                #else  其他
				#end
			</td>
            <td>$!{obj.preamount}</td>
            <td>$!{obj.amount}</td>
            <td>$!{obj.changeAmount}</td>
     ##       <td>$!{obj.refsn}</td>
            <td>$!date.format('yyyy-MM-dd HH:mm:ss',$!{obj.createTime})</td>
            <td>$!{obj.note}</td>
				<!-- 
            <td>
				<a href="leavewords.htm?id=$!{obj.custominfoId}&companyId=$!{companyId}">留言</a>
				<a href="javascript:jIframe('sampleedit.htm', '留言','550','420');">留言</a>
            </td>
				-->
        </tr>
	#end

</table>
<!-- 
<div class="inline pull-right page">
         10122 条记录 1/507 页  <a href='#'>下一页</a>     <span class='current'>1</span><a href='#'>2</a><a href='/chinapost/index.php?m=Label&a=index&p=3'>3</a><a href='#'>4</a><a href='#'>5</a>  <a href='#' >下5页</a> <a href='#' >最后一页</a>    </div>
-->		

          <div class="inline pull-right page">
			<div>
				#myrcPageNav($!{page} "#springUrl('/zz91/sampleadmin/accountseqList.htm')" "accountId=$!{accountId}&companyId=$!{companyId}&state=$!{state}&datefrom=$!{datefrom}&dateto=$!{dateto}&changeType=$!{changeType}&companyName=$!{companyName}" "")
			</div>
		</div>

</body>
</html>
<script>
    $(function () {
        
		$('#addnew').click(function(){

				window.location.href="sampleadd.htm";
		 });


    });

	function del(id)
	{
		
		
		if(confirm("确定要删除吗？"))
		{
		
			var url = "index.htm";
			
			window.location.href=url;		
		
		}
	
	
	
	
	}
</script>