<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="#springUrl('/')css/sampleAdmin/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="#springUrl('/')css/sampleAdmin/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="#springUrl('/')css/sampleAdmin/style.css" />
    <script type="text/javascript" src="#springUrl('/')js/sampleAdmin/jquery.js"></script>
    <script type="text/javascript" src="#springUrl('/')js/sampleAdmin/jquery.sorted.js"></script>
    <script type="text/javascript" src="#springUrl('/')js/sampleAdmin/bootstrap.js"></script>
    <script type="text/javascript" src="#springUrl('/')js/sampleAdmin/ckform.js"></script>
    <script type="text/javascript" src="#springUrl('/')js/sampleAdmin/common.js"></script>
	
	<!--  
    <link rel="stylesheet" type="text/css" href="http://img0.zz91.com/zz91/sample/admin/css/jquery.alert.css">
    <script type="text/javascript" src="http://img0.zz91.com/front/js/lib/jquery/jquery_lib/jquery-1.4.3.js"></script>
    <script type="text/javascript" src="http://img0.zz91.com/zz91/sample/admin/js/jquery.alert.js"></script>
	-->
	
	<style type="text/css">
        body {
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }


    </style>
</head>
<body>
<form class="form-inline definewidth m20" action="orderList" method="get" >  
    公司ID  <input type="text" name="companyId" id="companyId"class="abc input-default" placeholder="" value="$!{companyId}"   style="width:110px">&nbsp;&nbsp;  
		
 <select   name="state" style="width:136px">
<option selected  value="">订单状态</option>
<option #if($!{state}=="00")  selected #end  value="00">等待买家付款</option>
<option #if($!{state}=="03")  selected #end  value="03">等待卖家发货</option>
<option #if($!{state}=="06")  selected #end  value="06">买家提醒发货</option>
<option #if($!{state}=="11")  selected #end  value="11">等待买家确认收货</option>
<option #if($!{state}=="13")  selected #end  value="13">交易成功</option>
<option #if($!{state}=="20")  selected #end  value="20">交易关闭</option>
<option #if($!{state}=="14")  selected #end value="14">买家申请退货</option>
<option #if($!{state}=="15")  selected #end  value="15">卖家同意退货</option>
<option #if($!{state}=="16")  selected #end  value="16">等待卖家确认收货</option>
<option #if($!{state}=="17")  selected #end  value="17">退货成功</option>
</select>	&nbsp;&nbsp;
		
   成交日期  <input type="text" id="datefrom"  name="datefrom"  value="$!{datefrom}"  style="width:80px"/> 至 <input type="text" id="dateto"  name= "dateto" value="$!{dateto}"    style="width:80px" />&nbsp;&nbsp;	
   公司名称   <input type="text" name="sellerName" id="sellerName"class="abc input-default" placeholder="" value="$!{sellerName}"   style="width:130px">&nbsp;&nbsp;					
   样品标题   <input type="text" name="snapTitle" id="snapTitle"class="abc input-default" placeholder="" value="$!{snapTitle}"   style="width:130px">&nbsp;&nbsp;					
<button type="submit" class="btn btn-primary">查询</button>&nbsp;&nbsp; 
</form>
<table class="table table-bordered table-hover definewidth m10" >
    <thead>
    <tr>
        <th>样品标题</th>
        <th>（卖家）公司名称</th>
        <th>件数</th>
        <th>单价-元</th>
        <th>运费</th>
        <th>总额-元</th>
        <th>订单状态</th>
        <th>下单时间</th>
        <th>最后操作时间</th>
        <th>留言</th>
    </tr>
    </thead>
	
	 #foreach($obj in $page.records)
	     <tr>
            <td>${obj.snapTitle}</td>
            <td>$!{obj.buyerName}</td>
            <td>$!{obj.number}</td>
            <td>${obj.unitPrice}</td>
            <td>$!{obj.trafficFee}#if($!{obj.isCashDelivery}==1)(货到付款) #else (在线支付) #end</td>
            <td>$!{obj.amount}</td>
            <td>
									#if(${obj.state}=="00")          等待付款
                                    #elseif(${obj.state}=="01")  付款中
                                    #elseif(${obj.state}=="03")  卖家待发货
                                    #elseif(${obj.state}=="04")  付款失败
									#elseif(${obj.state}=="06")  已提醒发货
                                    #elseif(${obj.state}=="11")  等待收货
                                    #elseif(${obj.state}=="12")  交易成功
                                    #elseif(${obj.state}=="13")  交易成功
                                    #elseif(${obj.state}=="14")  已申请退货
                                    #elseif(${obj.state}=="15")  卖家同意退货
                                    #elseif(${obj.state}=="16")  退货已发货
                                    #elseif(${obj.state}=="17")  退货成功
                                    #elseif(${obj.state}=="18")  卖家不同意退货
                                    #elseif(${obj.state}=="20")  交易关闭
                                    #else  其他
									#end
			</td>
            <td>$!date.format('yyyy-MM-dd HH:mm:ss',$!{obj.createTime})</td>
            <td>$!date.format('yyyy-MM-dd HH:mm:ss',$!{obj.updateTime})</td>
            <td>
				<a href="leavewords.htm?id=$!{obj.custominfoId}&companyId=$!{companyId}">留言</a>
				<!-- 
				<a href="javascript:jIframe('sampleedit.htm', '留言','550','420');">留言</a>
				-->
            </td>
        </tr>
	#end

</table>
<!-- 
<div class="inline pull-right page">
         10122 条记录 1/507 页  <a href='#'>下一页</a>     <span class='current'>1</span><a href='#'>2</a><a href='/chinapost/index.php?m=Label&a=index&p=3'>3</a><a href='#'>4</a><a href='#'>5</a>  <a href='#' >下5页</a> <a href='#' >最后一页</a>    </div>
-->		

          <div class="inline pull-right page">
			<div>
			#myrcPageNav($!{page} "#springUrl('/orderList')" "companyId=$!{companyId}&state=$!{state}&datefrom=$!{datefrom}&dateto=$!{dateto}" "")
			</div>
		</div>

</body>
</html>
<script>
    $(function () {
        
		$('#addnew').click(function(){

				window.location.href="sampleadd.htm";
		 });


    });

	function del(id)
	{
		
		
		if(confirm("确定要删除吗？"))
		{
		
			var url = "index.htm";
			
			window.location.href=url;		
		
		}
	
	
	
	
	}
</script>